/.project
/.pydevproject
/.vscode/
/.idea/
/.settings
/.dbeaver*
/app/*.pyc
/app/*/*.pyc
/app/*/*/*.pyc
/app/*/*/*/*.pyc
/app/*/*/*/*/*.pyc
/app/*/*/*/*/*/*.pyc
/app/*/*/*/*/*/*/*.pyc
/app/*/*/*/*/*/*/*/*.pyc
__pycache__
.vscode
/app/.coverage
/app/locale/*/LC_MESSAGES/*.mo
*.pkl
