[Unit]
Description=ops celery beat service
After=network.target redis.service

[Service]
Type=simple
User=ops
Group=ops
EnvironmentFile=/etc/conf.d/ops.conf
#WorkingDirectory=/opt/celery

ExecStart=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} beat \
    --pidfile=${CELERYBEAT_PID_FILE} \
    --schedule=${CELERYBEAT_SCHEDULE} \
    --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYBEAT_LOG_LEVEL}'
#ExecStop=/bin/systemctl kill slb-celery-beat.service
Restart=always

RuntimeDirectory=ops
RuntimeDirectoryMode=0775
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=multi-user.target
